<ng-container *ngIf="currentAccount" class="edit-form">
  <h4>Account {{ currentAccount.name}} stan : {{currentAccount.balance}}</h4>
  <form>

    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      [(ngModel)]="currentAccount.operationName"
      name="name "
    />

    <label for="operation">Operation</label>
    <input
      type="text"
      class="form-control"
      id="operation"
      [(ngModel)]="currentAccount.operation"
      name="operation "
    />
    <button type="submit" class="badge badge-success" (click)="updateAccount()">
      Submit
    </button>

  </form>


  <p>{{ message }}</p>
</ng-container>

<!--<ul>
  <li *ngFor="let operation of currentAccount.operations"
    [ngStyle]="{'background-color': operation.amount >= 0 ? 'green' : 'red'}">
    {{ operation.name}} {{operation.amount}} {{ operation.date | date : "dd-MM-y H:mm "}}
  </li>
</ul>-->

<h2 class="title">Account operations  {{ currentAccount.name }}  </h2>

<table [ngStyle]="">
  <tr>
    <th>Operation name</th>
    <th>Amount</th>
    <th>Date & Time</th>
  </tr>
  <tr *ngFor="let operation of currentAccount.operations">
    <td>{{ operation.name}}</td>
    <td
      [ngStyle]="{'background-color': operation.amount >= 0 ? '#6A994E' : '#BC4749'}">{{ operation.amount | currency:'PLN' : 'PLN'}}</td>
    <td>{{ operation.date | date : "dd-MM-y H:mm "}}</td>
  </tr>
</table>

<ng-container *ngIf="!currentAccount">
  <br/>
  <p>Cannot access this Account...</p>
</ng-container>
