<div class="toolbar" role="banner">
  <span>Welcome KiddyBank Admin Panel</span>


  <div class="action-buttons-container">
    <button class="button5 bouncy" *ngIf="(afAuth.authState | async) === null" (click)="signIn()">Sign-In with Google
    </button>
    <button class="button5 " *ngIf="(afAuth.authState | async)" (click)="signOut()">Sign-Out</button>
  </div>
  <div *ngIf="afAuth.authState | async as user" class="card-container">
    <a *ngIf="(user.displayName === 'Michał Zieliński') && route!=='/accounts'" class="card" routerLink="/accounts">
      <button class="button5"> Manage accounts</button>
    </a>
  </div>
</div>
<div class="content" role="main">
  <div class="name" *ngIf="afAuth.authState | async as user">
    <h2>User: {{user.displayName}}</h2>
  </div>

</div>
  <!--<div class="card-container">
    <a *ngIf="(afAuth.authState | async) && route!=='/accounts'" class="card" routerLink="/accounts">
      <span>Manage accounts</span>
    </a>
  </div>-->



